!.gitignore
!.pre-commit-config.yaml
!/assets/**
!/src/*.py
!README.md
# except for these
# files to ignore
**/__pycache__/**
*.db
*.py[cod]
.python-version
.web
/.venv/
/.web/
/alembic/
__pycache__/
alembic.ini
reflex.db
